body {
  background-image: url("assets/img/bg.jpg");
  background-size: cover;
  background-position: center;
  font-family: "Inter", sans-serif;
}

html, body, main {
  height: 100%;
}

body, h1, h2, h3, p, button {
  margin: 0;
  padding: 0;
  border: 0;
}

main, .card, .song-info{
  display: flex;
}

main {
  color: #FFF;

  justify-content:space-around;
  align-items: center;
}

.progress-bar {
  height: 6px;
  width: 100%;

  margin: 10px 0;
  border-radius: 8px;
  background-color: #fff;

  cursor: pointer;
}

.progress {
  width: 0%;
  height: 100%;

  border-radius: 5px;
  background-color: #C93B76;

  transition: width 0.1s linear;
}

.music-text {
  background: linear-gradient(90deg, #F64F59 0%, #C471ED 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

h1 {
  font-size: 3rem;
}

h3 {
  color: #DAE0E2;
  font-weight: 400;
}

.wrapper {
  background: linear-gradient(0deg, rgba(154,59,103,1) 0%, rgba(66,67,116,1) 62%);

  border-radius: 12px;
  padding: 8px;
}

.card {
  flex-direction: column;
  justify-content: center;
  align-items: center;

  padding: 16px;
  border-radius: 12px;
  background-color: #121826ea;
}

img {
  max-width: 18rem;
  border-radius: 12px;
}

.song-info {
  flex-direction: column;
  text-align: center;
}

.title{
  color: #E5E7EB;
  font-size: 1rem;
}

.artist {
  margin-block: 6px;
  color: #4D5562;
  font-size: 0.75rem;
}

.time {
  color: #4D5562;
  font-size: 0.625rem;

  width: 100%;

  display: flex;
  justify-content: space-between;
}

.control-btn {
  font-size: 20px;
  
  padding: 10px;
  border: 0;
  cursor: pointer;
  color: #4D5562;
}

.fa-solid {
  box-shadow: 2px -12px 10px -5px rgb(77, 85, 98);
}

.control-btn:focus {
  outline: 0;
}

#play {
  height: 4rem;
  width: 4rem;
  
  background-color: #C93B76;
  color: #E5E7EB;
  
  border-radius: 50%;
  margin-inline: 24px;
  font-size: 30px;
  
  box-shadow: 1px 5px 20px 0px rgb(76, 66, 114);
}

#prev {
  background-color: transparent;
}

#next {
  background-color: transparent;
}

@media screen and (max-width: 725px) {
  .info {
    display: none;
  }
}